<!DOCTYPE html>
<html>
<head>
  <title>Academia | <%= @title %></title>
	  <!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->    
	<%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
	<%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
	<!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
	
	<%= stylesheet_link_tag 'custom', :media => 'screen' %>

  <%= csrf_meta_tags %>
  
</head>
<body>

    <div class="container">
		<header>
		<%= image_tag("academic.gif", :width => 150 ,:alt => "Sample App", :class => "round") %>
		<nav class="round">
		  <ul>
		    <li><%= link_to "Home", '#' %></li>
		    <li><%= link_to "About", '#' %></li>
		    <li><%= link_to "Contact", '#' %></li>
		  </ul>
		</nav>
		</header>
	<section class="round">
		<% flash.each do |key, value| %>
			<div class="flash <%= key %>"><%= value %></div>
		<% end %>
		<%= yield %>
	</section>
    <footer>
	  <nav class="round">
	    <ul>
	      <li><%= link_to "About", '#' %></li>
	      <li><%= link_to "Contact", '#' %></li>
	      <li><a href="http://news.railstutorial.org/">News</a></li>
	      <li><a href="http://www.railstutorial.org/">Rails Tutorial</a></li>
	    </ul>
	  </nav>
	</footer>
	<%= debug(params) if Rails.env.development? %>
    </div>
</body>
</html>
